{% extends 'keepass/base.html' %}
{% load staticfiles %}

  {% block content %}
    {% if user.is_authenticated %}
      <div class="rows">
        <h2>Keepass</h2>
      </div>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
        <input type="text" id="search" class="form-control" placeholder="Search for..." aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="rows>">
        <table class="table table-striped table-bordered table-hover" id="keepass">
          <thead class="thead-inverse">
            <tr>
              <th data-priority="6" class="text-center">ID</th>
              <th data-priority="2" class="text-center">Server</th>
              <th data-priority="1" class="text-center">Domain</th>
              <th data-priority="3" class="text-center">Ip</th>
              <th data-priority="4" class="text-center">Application</th>
              <th data-priority="5" class="text-center">Account</th>
              <th class="text-center">Password</th>
              <th data-priority="7" class="text-center">Status</th>
              <th data-priority="8" class="text-left">Notes</th>
            </tr>
          </thead>
          <tbody>
            {% for item in entry %}
              <tr>
                <td class="text-right">{{ item.id }}</td>
                <td>{{ item.server }}</td>
                <td>{{ item.domain }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.application }}</td>
                <td>{{ item.account }}</td>
                <td>
                  <input type="password" id="{{ item.account }}" value="{{ item.password }}" disabled></input>
                  <input type="checkbox" value="{{ item.account }}" name="{{ item.account }}" id="{{ item.account }}" onchange="document.getElementById('{{ item.account }}').type = this.checked ? 'text' : 'password'"> Show </input>
                </td>
                <td>{{ item.status }} </td>
                <td>{{ item.notes }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <script>
    var $rows = $('#keepass tbody tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

    </script>
    {% else %}
         <h2 class="text-center">Welcom to CLT Keepass.</h2>
         <h4 class="text-center"> - Authentication required - </h4>
    {% endif %}
  {% endblock %}
